In [4]:
import pandas as pd
from pathlib import Path

In [5]:
url = "https://raw.githubusercontent.com/datasets/covid-19/main/data/worldwide-aggregate.csv"
df = pd.read_csv(url)

df.head()
df.info()
df.describe(include="all")
df["Date"].min(), df["Date"].max()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           816 non-null    object
 1   Confirmed      816 non-null    int64
 2   Recovered      816 non-null    int64
 3   Deaths         816 non-null    int64
 4   Increase rate  815 non-null    float64
dtypes: float64(1), int64(3), object(1)
memory usage: 32.0+ KB

('2020-01-22', '2022-04-16')

In [6]:
df

           Date  Confirmed  Recovered   Deaths  Increase rate
0    2020-01-22        557         30       17            NaN
1    2020-01-23        657         32       18      17.953321
2    2020-01-24        944         39       26      43.683409
3    2020-01-25       1437         42       42      52.224576
4    2020-01-26       2120         56       56      47.529576
..          ...        ...        ...      ...            ...
811  2022-04-12  500880363          0  6185040       0.207437
812  2022-04-13  501920234          0  6189593       0.207609
813  2022-04-14  502892186          0  6193401       0.193647
814  2022-04-15  503606396          0  6195647       0.142021
815  2022-04-16  504155459          0  6197159       0.109026

[816 rows x 5 columns]

check cols as expected

In [7]:
expected_cols = {"Date", "Confirmed", "Recovered", "Deaths", "Increase rate"}
assert expected_cols.issubset(df.columns), f"Missing columns: {expected_cols - set(df.columns)}"

In [8]:
df[["Date", "Confirmed", "Recovered", "Deaths", "Increase rate"]].head()

         Date  Confirmed  Recovered  Deaths  Increase rate
0  2020-01-22        557         30      17            NaN
1  2020-01-23        657         32      18      17.953321
2  2020-01-24        944         39      26      43.683409
3  2020-01-25       1437         42      42      52.224576
4  2020-01-26       2120         56      56      47.529576

 date format is consistent and valid

In [9]:
df["Date"] = pd.to_datetime(df["Date"], errors="coerce")

handle null values identified

In [ ]:
df["Increase rate"] = df["Increase rate"].fillna(0)
df["Increase rate"].head(3)

0     0.000000
1    17.953321
2    43.683409
Name: Increase rate, dtype: float64

# Actions:
- extract data from source
- check expected columns
- align datetime formatting
- handle nulls